In [2]:
import pandas as pd
from pathlib import Path

In [10]:
budget_csv_path = Path('../Data/budget_data.csv')
sales_csv_path = Path('../Data/sales_data.csv')
menu_csv_path = Path('../Data/menu_data.csv')

In [25]:
budget_df = pd.read_csv(budget_csv_path)
sales_df = pd.read_csv(sales_csv_path, index_col = 'Line_Item_ID')
menu_df = pd.read_csv(menu_csv_path)

In [44]:
sales_df.dtypes

Date                  datetime64[ns]
Credit_Card_Number             int64
Quantity                       int64
Menu_Item                     object
dtype: object

In [26]:
# sales_df.groupby("Menu_Item").count()
sales_df['Date'] = pd.to_datetime(sales_df['Date'])

In [51]:
grouped_sales = sales_df.groupby(['Date', 'Credit_Card_Number', 'Menu_Item']).sum()

In [52]:
grouped_sales.head(10)

                                                                              Quantity
Date       Credit_Card_Number Menu_Item
2017-01-01 25488869766864     soft-shell miso crab ramen                             2
           36480379221833     tori paitan ramen                                      6
           89395923107334     nagomi shoyu                                           2
           135512259164914    shio ramen                                             2
           160368623399516    soft-shell miso crab ramen                             2
           164673264403463    spicy miso ramen                                       8
           197955612531512    vegetarian curry + king trumpet mushroom ramen         2
           203567346724240    soft-shell miso crab ramen                             4
           353471709272555    vegetarian spicy miso                                  2
           440092900011093    vegetarian curry + king trumpet mushroom ramen         2

In [53]:
grouped_sales

                                                                              Quantity
Date       Credit_Card_Number Menu_Item
2017-01-01 25488869766864     soft-shell miso crab ramen                             2
           36480379221833     tori paitan ramen                                      6
           89395923107334     nagomi shoyu                                           2
           135512259164914    shio ramen                                             2
           160368623399516    soft-shell miso crab ramen                             2
...                                                                                ...
2018-12-31 9641894213232480   miso crab ramen                                        2
           9750957466915125   soft-shell miso crab ramen                             2
           9794251638634207   shio ramen                                             2
           9803783656690951   vegetarian curry + king trumpet mushroom ramen         2
           9919788788224883   spicy miso ramen                                       2

[37062 rows x 1 columns]