In [2]:
import pandas as pd
from pathlib import Path

In [22]:
sales_csv_path = Path('../Data/sales_data.csv')
menu_csv_path = Path('../Data/menu_data.csv')

In [23]:
sales_df = pd.read_csv(sales_csv_path, index_col = 'Line_Item_ID')
menu_df = pd.read_csv(menu_csv_path)

sales_df['Date'] = pd.to_datetime(sales_df['Date'])

In [38]:
sales_df.set_index('Menu_Item', inplace = True)

In [39]:
menu_df.set_index('item', inplace = True)

In [82]:
sales_df.head()

                           Date  Credit_Card_Number  Quantity
Menu_Item
spicy miso ramen     2017-01-01    7437926611570799         1
spicy miso ramen     2017-01-01    7437926611570799         1
tori paitan ramen    2017-01-01    8421920068932819         3
tori paitan ramen    2017-01-01    8421920068932819         3
truffle butter ramen 2017-01-01    4787310681569648         1

In [65]:
sales_df.iloc[8][1]

3119034881407323

In [79]:
count = 1
list_of_customer_numbers = {}

for credit_card_number in sales_df['Credit_Card_Number']:
    if credit_card_number in list_of_customer_numbers:
        pass
    else:
        list_of_customer_numbers[credit_card_number] = count
        count+=1
#     count +=1
#     if count > 74120:
#         print(count)

{'Pie': 33}

In [41]:
# df.join(other, lsuffix='_caller', rsuffix='_other')
df_new = pd.concat([sales_df, menu_df],join = "inner")

In [86]:
df.head()

,Date,Credit_Card_Number,Quantity,category,description,price,cost
burnt garlic tonkotsu ramen,2017-01-01,6644706782247054,1,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6
burnt garlic tonkotsu ramen,2017-01-01,6644706782247054,1,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6
burnt garlic tonkotsu ramen,2017-01-01,6284589008018918,3,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6
burnt garlic tonkotsu ramen,2017-01-01,6284589008018918,3,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6
burnt garlic tonkotsu ramen,2017-01-01,1735007769975965,1,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6

In [87]:
df['revenue'] = df['price']*df['Quantity']-df['cost']

In [88]:
df.head()

,Date,Credit_Card_Number,Quantity,category,description,price,cost,revenue
burnt garlic tonkotsu ramen,2017-01-01,6644706782247054,1,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6,8.0
burnt garlic tonkotsu ramen,2017-01-01,6644706782247054,1,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6,8.0
burnt garlic tonkotsu ramen,2017-01-01,6284589008018918,3,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6,36.0
burnt garlic tonkotsu ramen,2017-01-01,6284589008018918,3,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6,36.0
burnt garlic tonkotsu ramen,2017-01-01,1735007769975965,1,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6,8.0

In [89]:
df.reset_index(inplace = True)

In [95]:
df.rename(columns = {'index': 'Item'}, inplace = True)

In [103]:
df.groupby(['Date']).sum()

             Credit_Card_Number  Quantity   price  cost  revenue
Date
2017-01-01   892668156646904576       268  2374.0  1098   2276.0
2017-01-02    53349394915453328        14   152.0    74    106.0
2017-01-03   730669243606137984       202  1804.0   848   1776.0
2017-01-04   528333455097776768       152  1442.0   672   1238.0
2017-01-05  1025791325604587648       274  2508.0  1178   2322.0
2017-01-06   942759230698890368       266  2316.0  1070   2270.0
2017-01-07    24279335575788356         8    50.0    22     72.0
2017-01-08   437862800461974528       132  1174.0   544   1112.0
2017-01-09   438852960898055744       122  1002.0   468   1058.0
2017-01-10   363757440433203008        80   870.0   406    612.0
2017-01-11   982230576429676032       228  2398.0  1108   1746.0
2017-01-12   875107764575793408       242  2332.0  1094   1986.0
2017-01-13   160360215922410688        62   512.0   242    546.0
2017-01-14   966821985717741952       270  2408.0  1116   2256.0
2017-01-15   399038596577695744       132  1118.0   526   1114.0
2017-01-16   426318353772193792       126  1146.0   542   1038.0
2017-01-17   802087108664353536       238  2358.0  1094   1872.0
2017-01-18   146643558107418528        38   344.0   158    318.0
2017-01-19   143165221313420224        34   334.0   152    286.0
2017-01-20   535622541077440896       158  1410.0   660   1338.0
2017-01-21   228055793747657856        80   576.0   272    726.0
2017-01-22   536531332682395648       140  1310.0   606   1136.0
2017-01-23   510755560253083904       142  1192.0   566   1228.0
2017-01-24   577252021411465728       160  1566.0   750   1312.0
2017-01-25  1022542775955332736       254  2410.0  1124   2120.0
2017-01-26   112263387618894704        36   282.0   130    330.0
2017-01-27   321790694162365824        76   696.0   322    618.0
2017-01-28   738287701156221440       208  1862.0   874   1758.0
2017-01-29   746666195812938496       236  2040.0   956   2054.0
2017-01-30   182753035908216608        42   456.0   212    314.0
...                         ...       ...     ...   ...      ...
2018-12-02    82771213648907520        22   200.0    92    186.0
2018-12-03   291320992131690112        74   774.0   368    552.0
2018-12-04    88545435762778032        32   250.0   114    286.0
2018-12-05    99452987657074816        38   266.0   124    348.0
2018-12-06   241978614673076480        68   618.0   286    560.0
2018-12-07   253481006385712384        78   624.0   286    674.0
2018-12-08   711573687601705984       176  1744.0   814   1438.0
2018-12-09   695376821783533056       172  1760.0   820   1378.0
2018-12-10   479993745624128640       140  1292.0   598   1176.0
2018-12-11   738413932775048192       200  1856.0   868   1650.0
2018-12-12   689942415865053056       178  1662.0   768   1454.0
2018-12-13   590213220458589952       140  1492.0   700   1048.0
2018-12-14    78067863379622784        22   214.0    98    164.0
2018-12-15   285474126801729792       106   864.0   404    956.0
2018-12-16   919146329066125824       238  2292.0  1062   1946.0
2018-12-17   580773230690993152       170  1612.0   764   1402.0
2018-12-18   894066657256606720       252  2526.0  1182   2034.0
2018-12-19   334156183338123968        64   742.0   350    472.0
2018-12-20   565557414818796544       142  1312.0   620   1154.0
2018-12-21  1030602626379401984       264  2400.0  1138   2208.0
2018-12-22   525304814414937216       144  1306.0   620   1236.0
2018-12-23   214834831774874368        70   610.0   288    604.0
2018-12-24   616162726660787584       180  1640.0   762   1528.0
2018-12-25  1046612116926584320       264  2490.0  1172   2196.0
2018-12-26   996880695445594496       274  2448.0  1152   2328.0
2018-12-27   421267258287103744       108  1012.0   472    900.0
2018-12-28   780141496749801984       196  1878.0   876   1576.0
2018-12-29   845017907456700416       218  2176.0  1034   1754.0
2018-12-30   561277966744175296       130  1234.0   588   1066.0
2018-12-31   889806805656949120       252  2268.0  1050   2136.0

[724 rows x 5 columns]

In [98]:
df.dtypes

Item                          object
Date                  datetime64[ns]
Credit_Card_Number             int64
Quantity                       int64
category                      object
description                   object
price                        float64
cost                           int64
revenue                      float64
dtype: object